<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>

<div class="showcase">
    <h1> About MERN CRUD <span class="green-text">DIARY</span></h1>
    <p> A Simple CRUD Application</p>
    <p> Record Your Daily Life</p>
    <p>Version 1.0</p>
</div>

<%- include('./layout/Footer') %>