<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>

<div class="showcase">
    <h1> Welcome to MERN CRUD <span class="green-text">DIARY</span></h1>
    <p> A Simple CRUD Application</p>
    <p> Record Your Daily Life</p>
    <a href="/diary">Open Your Diary</a>
</div>

<%- include('./layout/Footer') %>